@{
    ViewData["Title"] = "Home Page";
}

<section id="settingSection">
    <section id="backupSettingSection">
        <div>
            <label for="backupFilePath">
                使用備份檔案位置:
            </label>
            <input type="file" id="backupFilePath"/>
        </div>
        <div>
            <label for="shouldBackup">
                是否輸出備份？（位於 <code>backup</code> 資料夾內）:
            </label>
            <input type="checkbox" id="shouldBackup"/>
        </div>
    </section>
    <section id="youtubeSettingSection">
        <div>
            <label for="youtubeLiveId">
                Youtube Live ID:
            </label>
            <input type="text" id="youtubeLiveId"/>
        </div>
    </section>
    <section id="ecpaySettingSection">
        <div>
            <label for="ecpayId">
                綠界 ID:
            </label>
            <input type="text" id="ecpayId"/>
        </div>
        <div>
            <label for="ecpayFakeSource">
                偽造來源為 youtube ？（若不的話，模板需支援 service 為 ecpay 的資料）:
            </label>
            <input type="checkbox" id="ecpayFakeSource"/>
        </div>
    </section>
    <section id="opaySettingSection">
        <div>
            <label for="opayId">
                歐付寶 ID:
            </label>
            <input type="text" id="opayId"/>
        </div>
        <div>
            <label for="opayFakeSource">
                偽造來源為 youtube ？（若不的話，模板需支援 service 為 opay 的資料）:
            </label>
            <input type="checkbox" id="opayFakeSource"/>
        </div>
    </section>
    <section id="onecommeSettingSection">
        <div>
            <label for="onecommeUrl">
                わんコメ網址:
            </label>
            <input type="text" id="onecommeUrl"/>
        </div>
        <div>
            <label for="onecommeTemplateDirectory">
                わんコメ模板位置:
            </label>
            <input type="text" id="onecommeTemplateDirectory"/>
        </div>
    </section>
    <button id="connectButton">連線</button>
</section>

<section id="messageSection">
    <ul id="messageList">
    </ul>
</section>

<link href="css/site.css" rel="stylesheet" type="text/css"/>
<script src="js/fetcher.js"></script>